* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: andy;
  src: url(../assets/fonts/andy/design.graffiti.ANDYB.ttf);
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
  font-family: andy;
}

.wrapper {
  background-image: url(../assets/images/terrariaBackground.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  width: 100%;
  position: relative;
}

/* Landing Menu Styling */
.logo {
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-menu {
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
}

.landing-menu p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}

.landing-menu p:hover {
  color: yellow;
}

/* Login Page Styling */
.login-header {
  width: 14.5%;
  min-width: fit-content;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (14.5% / 2));
  z-index: 10;
}

.login-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-form-wrapper {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (40.6% / 2));
}

.login-form {
  width: 92.4%;
  margin: 33px auto;
}

.login-form label {
  font-family: andy;
  margin-left: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-input-wrapper {
  width: 100%;
  height: 115px;
  background-color: rgba(59, 78, 139, 0.75);
  border: 2px solid #4f6197;
  border-radius: 10px;
  margin-bottom: 10px;
}

.login-form input {
  width: 98.6%;
  height: 68px;
  margin-left: 3px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  color: white;
  font-family: andy;
  font-size: 25px;
  padding: 10px;
}

.login-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (19.5% + 14.5px));
  cursor: pointer;
}

#login-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.login-submit-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% + 14.5px);
}

#login-submit-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Create Account Page Styling */
.create-account-header {
  width: 16.9%;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (16.9% / 2));
  z-index: 10;
}

@media only screen and (max-width: 1712px) {
  .create-account-header {
    width: 290px;
    left: calc(50% - (290px / 2));
  }
}

.create-account-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.create-account-form-wrapper {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (40.6% / 2));
  overflow: scroll;
}

.create-account-form {
  width: 92.4%;
  margin: 33px auto;
}

.create-account-form label {
  font-family: andy;
  margin-left: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.create-account-input-wrapper {
  width: 100%;
  height: 115px;
  background-color: rgba(59, 78, 139, 0.75);
  border: 2px solid #4f6197;
  border-radius: 10px;
  margin-bottom: 10px;
}

.create-account-form input {
  width: 98.6%;
  height: 68px;
  margin-left: 3px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  color: white;
  font-family: andy;
  font-size: 25px;
  padding: 10px;
}

.create-account-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (19.5% + 14.5px));
  cursor: pointer;
}

#create-account-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.create-account-submit-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% + 14.5px);
  cursor: pointer;
}

#create-account-submit-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Main Menu Styling */
.logo {
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-menu {
  width: 225px;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 50px;
}

.main-menu p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  cursor: pointer;
}

.main-menu p:hover {
  color: yellow;
}

/* About Page Styling */
.about-header {
  width: 14.5%;
  min-width: fit-content;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (14.5% / 2));
  z-index: 10;
}

.about-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.about-content {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (40.6% / 2));
}

.about-content p {
  margin: 0 auto;
  margin-top: 25px;
  width: 80%;
}

.about-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (19.5% / 2));
  cursor: pointer;
}

#about-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Profile Page Styling */
.profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile-info-header {
  width: 14.5%;
  min-width: fit-content;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (40.6% / 2) - 31px - (14.5% / 2));
  z-index: 10;
}

.profile-info-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-info-wrapper {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (40.6% + 31px));
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info {
  width: 100%;
  margin: 25px auto;
}

.profile-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (40.6% / 2) - 31px - (19.5% / 2));
  cursor: pointer;
}

#profile-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-builds-header {
  width: 14.5%;
  min-width: fit-content;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% + (40.6% / 2) + 31px - (14.5% / 2));
  z-index: 10;
}

.profile-builds-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-builds-wrapper {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% + 31px);
  padding-top: 29px;
}

.profile-build {
  width: 92.4%;
  height: 115px;
  margin: 0 auto;
  background-color: rgba(59, 78, 139, 0.75);
  border: 2px solid #4f6197;
  border-radius: 10px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
}

.profile-build p {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.profile-build-image {
  width: 70px;
  height: 69px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  position: absolute;
  top: 7px;
  left: 12px;
}

.profile-build-name {
  position: absolute;
  top: 7px;
  left: 90px;
}

.profile-build-description {
  width: 57.8%;
  height: 32px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  position: absolute;
  top: 42px;
  left: 90px;
  padding-top: 2px;
  padding-left: 10px;
  overflow: scroll;
}

@media only screen and (max-width: 1820px) {
  .profile-build-description {
    width: 56.8%;
  }
}

@media only screen and (max-width: 1720px) {
  .profile-build-description {
    width: 55.8%;
  }
}

@media only screen and (max-width: 1620px) {
  .profile-build-description {
    width: 54.8%;
  }
}

@media only screen and (max-width: 1520px) {
  .profile-build-description {
    width: 53.8%;
  }
}

@media only screen and (max-width: 1420px) {
  .profile-build-description {
    width: 52.8%;
  }
}

@media only screen and (max-width: 1320px) {
  .profile-build-description {
    width: 51.8%;
  }
}

@media only screen and (max-width: 1220px) {
  .profile-build-description {
    width: 50.8%;
  }
}

.profile-build-checkpoint {
  width: 28.2%;
  height: 32px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  position: absolute;
  top: 42px;
  left: calc(100% - 28.2% - 3px);
  padding-top: 2px;
  padding-left: 10px;
}

.profile-new-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% + (40.6% / 2) + 31px - (19.5% / 2));
  cursor: pointer;
}

#profile-new-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Build Page Styling */
.build-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.build-info-header {
  width: 14.5%;
  min-width: fit-content;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (14.5% / 2));
  z-index: 10;
}

.build-info-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.build-info-wrapper {
  width: 84.4%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (84.4% / 2));
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.build-info {
  width: 32.5%;
  height: 81.4%;
  overflow: scroll;
}

.build-info-header2 {
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 10px;
}

.build-info div {
  margin-bottom: 10px;
}

.build-info div p {
  margin-bottom: 0px;
}

.build-slot-options-wrapper {
  width: 32.5%;
  height: 81.4%;
}

.build-slot-options-header {
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 0px;
}

.build-slot-options {
  height: 95%;
  overflow: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.build-slot-option {
  width: 50px;
  height: 50px;
  background-color: rgba(61, 66, 131, .75);
  border: 2px solid rgba(34, 40, 66, 1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-slot-option img {
  width: 50%;
  height: 50%;
}

.build-equipped-items-wrapper {
  width: 6.4%;
  min-width: fit-content;
  height: 81.4%;
  overflow: scroll;
}

.build-equipped-items-header {
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-bottom: 0px;
}

.build-equipped-item-slot {
  width: 50px;
  height: 50px;
  background-color: rgba(56, 107, 72, .75);
  border: 2px solid rgba(34, 67, 46, 1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.build-equipped-item-slot img {
  width: 50%;
  height: 50%;
}

.build-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (40.6% / 2) - 31px - (19.5% / 2));
  cursor: pointer;
}

#build-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.build-save-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% + (40.6% / 2) + 31px - (19.5% / 2));
  cursor: pointer;
}

#build-save-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Contact Page Styling */
.contact-header {
  width: 16.9%;
  height: 66px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: calc(17% - 50px);
  left: calc(50% - (16.9% / 2));
  z-index: 10;
}

@media only screen and (max-width: 1712px) {
  .contact-header {
    width: 290px;
    left: calc(50% - (290px / 2));
  }
}

.contact-header p {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contact-form-wrapper {
  width: 40.6%;
  height: 63.1%;
  background-color: rgba(50, 73, 114, 0.75);
  border: 2px solid black;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  position: absolute;
  top: 17%;
  left: calc(50% - (40.6% / 2));
  overflow: scroll;
}

.contact-form {
  width: 92.4%;
  margin: 33px auto;
}

.contact-form label {
  font-family: andy;
  margin-left: 3px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contact-input-wrapper {
  width: 100%;
  height: 115px;
  background-color: rgba(59, 78, 139, 0.75);
  border: 2px solid #4f6197;
  border-radius: 10px;
  margin-bottom: 10px;
}

.contact-textarea-wrapper {
  width: 100%;
  height: 234px;
  background-color: rgba(59, 78, 139, 0.75);
  border: 2px solid #4f6197;
  border-radius: 10px;
}

.contact-form input {
  width: 98.6%;
  height: 68px;
  margin-left: 3px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  color: white;
  font-family: andy;
  font-size: 25px;
  padding: 10px;
}

.contact-form textarea {
  width: 98.6%;
  height: 187px;
  margin-left: 3px;
  background-color: #232f52;
  border: 2px solid #57689b;
  border-radius: 10px;
  color: white;
  font-family: andy;
  font-size: 25px;
  padding: 10px;
}

.contact-back-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% - (19.5% + 14.5px));
  cursor: pointer;
}

#contact-back-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.contact-send-button {
  width: 19.5%;
  min-width: fit-content;
  height: 60px;
  background-color: #495eab;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 82%;
  left: calc(50% + 14.5px);
  cursor: pointer;
}

#contact-send-btn {
  margin-top: 25px;
  color: white;
  font-size: 50px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Footer Stying */
.footer {
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.footer p {
  color: white;
  font-size: 30px;
  margin-bottom: 5px;
}

.footer img {
  height: 25px;
  width: 25px;
}
