<div class="about-header">
    <p>About</p>
</div>
<div class="about-content">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos at vero saepe soluta assumenda, temporibus doloremque exercitationem sit culpa architecto. Nihil dolores libero odio sequi sit commodi, ipsa praesentium illo. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos at vero saepe soluta assumenda, temporibus doloremque exercitationem sit culpa architecto. Nihil dolores libero odio sequi sit commodi, ipsa praesentium illo.</p>
</div>
<div class="about-back-button">
    <p id="about-back-btn">Back</p>
</div>