<div class="about-header">
    <p>About</p>
</div>
<div class="about-content">
    <p>This website is made to help Terraria players keep track of their item builds as they progress through the game.  The reason this is needed is becuase on the harder difficulties it becomes more and more necessary to progress.  So, the player needs to try to maximize their stats throughout the game.  This site is a tool that allows players to test different items to see stat differences.</p>
    <p>NOTE:  Not every item and not all stats from Terraria are added yet.</p>
</div>
<div class="about-back-button">
    <p id="about-back-btn">Back</p>
</div>