<div class="contact-header">
    <p>Contact Form</p>
</div>
<div class="contact-form-wrapper">
    <div class="contact-form">
        <div class="contact-input-wrapper">
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text">
        </div>
        <div class="contact-input-wrapper">
            <label for="last_name">Last Name:</label>
            <input id="last_name" type="text">
        </div>
        <div class="contact-input-wrapper">
            <label for="email">Email:</label>
            <input id="email" type="text">
        </div>
        <div class="contact-textarea-wrapper">
            <label for="message">Message:</label>
            <textarea id="message" ></textarea>
        </div>
    </div>
</div>
<div class="contact-back-button">
    <p id="contact-back-btn">Back</p>
</div>
<div class="contact-send-button">
    <p id="contact-send-btn">Send</p>
</div>