<div class="create-account-header">
    <p>Create Account</p>
</div>
<div class="create-account-form-wrapper">
    <div class="create-account-form">
        <div class="create-account-input-wrapper">
            <label for="first_name">First Name:</label>
            <input id="first_name" type="text">
        </div>
        <div class="create-account-input-wrapper">
            <label for="last_name">Last Name:</label>
            <input id="last_name" type="text">
        </div>
        <div class="create-account-input-wrapper">
            <label for="email">Email:</label>
            <input id="email" type="email">
        </div>
        <div class="create-account-input-wrapper">
            <label for="username">Username:</label>
            <input id="username" type="text">
        </div>
        <div class="create-account-input-wrapper">
            <label for="password">Password:</label>
            <input id="password" type="text">
        </div>
    </div>
</div>
<div class="create-account-back-button">
    <p id="create-account-back-btn">Back</p>
</div>
<div class="create-account-submit-button">
    <p id="create-account-submit-btn">Submit</p>
</div>