<div class="build-wrapper">
    <div>
        <div class="build-info-header">
            <p>Build Info</p>
        </div>
        <div class="build-info-wrapper">
            <div class="build-info">
                <h1 class="build-info-header2">Build Details:</h1>
                <div class="build-input-wrapper">
                    <label for="build_name"><p>Build Name:</p></label>
                    <input id="build_name" type="text">
                </div>
                <div class="build-input-wrapper">
                    <label for="build_description"><p>Build Description:</p></label>
                    <input id="build_description" type="text">
                </div>
                <div class="build-input-wrapper">
                    <label for="build_checkpoint"><p>Game Checkpoint:</p></label>
                    <input id="build_checkpoint" type="text">
                </div>
                <div><p>Helmet Details:</p><div id="build-info-helmet"></div></div>
                <div><p>Chestplate Details:</p><div id="build-info-chestplate"></div></div>
                <div><p>Leggings Details:</p><div id="build-info-leggings"></div></div>
                <div><p>Accessory 1 Details:</p><div id="build-info-accessory1"></div></div>
                <div><p>Accessory 2 Details:</p><div id="build-info-accessory2"></div></div>
                <div><p>Accessory 3 Details:</p><div id="build-info-accessory3"></div></div>
                <div><p>Accessory 4 Details:</p><div id="build-info-accessory4"></div></div>
                <div><p>Accessory 5 Details:</p><div id="build-info-accessory5"></div></div>
                <div><p>Accessory 6 Details:</p><div id="build-info-accessory6"></div></div>
                <div><p>Accessory 7 Details:</p><div id="build-info-accessory7"></div></div>
            </div>
            <div class="build-slot-options-wrapper">
                <h1 class="build-slot-options-header">Slot Options:</h1>
                <div class="build-slot-options"></div>
            </div>
            <div class="build-equipped-items-wrapper">
                <h1 class="build-slot-options-header">Equipped:</h1>
                <div class="build-equipped-items">
                    <div>
                        <div id="equipped-head" class="build-equipped-item-slot"></div>
                        <div id="equipped-chest" class="build-equipped-item-slot"></div>
                        <div id="equipped-legs" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory1" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory2" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory3" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory4" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory5" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory6" class="build-equipped-item-slot"></div>
                        <div id="equipped-accessory7" class="build-equipped-item-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="build-back-button">
            <p id="build-back-btn">Back</p>
        </div>
        <div class="build-save-button">
            <p id="build-save-btn">Save</p>
        </div>
    </div>
    <div>
    </div>
</div>
