<div class="login-header">
    <p>Login</p>
</div>
<div class="login-form-wrapper">
    <div class="login-form">
        <div class="login-input-wrapper">
            <label for="username">Username:</label>
            <input id="username" type="text">
        </div>
        <div class="login-input-wrapper">
            <label for="password">Password:</label>
            <input id="password" type="password">
        </div>
    </div>
</div>
<div class="login-submit-button">
    <p id="login-submit-btn">Submit</p>
</div>