<div class="build-wrapper">
    <div>
        <div class="build-info-header">
            <p>Build Info</p>
        </div>
        <div class="build-info-wrapper">
            <div class="build-info">
            </div>
            <div class="build-slot-options-wrapper">
                <h1 class="build-slot-options-header">Slot Options:</h1>
                <div class="build-slot-options">
                    <div class="build-slot-option"></div>
                </div>
            </div>
            <div class="build-equipped-items-wrapper">
                <h1 class="build-slot-options-header">Equipped:</h1>
                <div class="build-equipped-items">
                    <div>
                        <div id="equpped-head" class="build-equipped-item-slot"></div>
                        <div id="equpped-chest" class="build-equipped-item-slot"></div>
                        <div id="equpped-legs" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory1" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory2" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory3" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory4" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory5" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory6" class="build-equipped-item-slot"></div>
                        <div id="equpped-accessory7" class="build-equipped-item-slot"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="build-back-button">
            <p id="build-back-btn">Back</p>
        </div>
        <div class="build-save-button">
            <p id="build-save-btn">Save</p>
        </div>
    </div>
    <div>
    </div>
</div>
