<div class="profile-wrapper">
    <div>
        <div class="profile-info-header">
            <p>User Info</p>
        </div>
        <div class="profile-info-wrapper"></div>
        <div class="profile-back-button">
            <p id="profile-back-btn">Back</p>
        </div>
    </div>
    <div>
        <div class="profile-builds-header">
            <p>Select Build</p>
        </div>
        <div class="profile-builds-wrapper">
            <div class="profile-build">
                <div class="profile-build-image"></div>
                <div class="profile-build-name">
                    <p>Build Example</p>
                </div>
                <div class="profile-build-description">
                    <p>Build Description</p>
                </div>
                <div class="profile-build-checkpoint">
                    <p>Game Checkpoint</p>
                </div>
            </div>
        </div>
        <div class="profile-new-button">
            <p id="profile-new-btn">New</p>
        </div>
    </div>
</div>
